.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 6%;
}

.education-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 18px rgb(7, 252, 105);
  max-width: 400px;
  width: 100%;
  margin: 10px;
  --c: #8A9B0F;
  --b: 10px;
  --g: 5px;
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g))
      var(--_i, 200%) 0 / 200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g))
      0 var(--_i, 200%) / var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s, text-shadow 0.3s;
  cursor: pointer;
}

.edu-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.edu-school {
  font-style: italic;
  margin-bottom: 8px;
  text-align: center;
}

.edu-per {
  font-weight: bold;
  margin-bottom: 8px;
}

.edu-desc {
  line-height: 1.4;
  text-indent: 20px;
  text-align: justify;
}

.education-item:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s, text-shadow 0.3s;
  transform: scale(0.98);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.education-item:hover .edu-school {
  color: #ff7f50;
  text-shadow: 0 0 5px #ff7f50, 0 0 10px #ff7f50, 0 0 15px #ff7f50;
}
#cert{
  margin-top: 4%;
  margin-bottom: -2%;
}
